.single-todo {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  padding: 10px 15px;
  background-color: #fefefe;
  margin: 10px 0;
  border-radius: 4px;

  label {
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
  }

  &.completed label {
    text-decoration: line-through;
  }

  input[type="checkbox"] {
    margin-right: 10px;

    &:checked {
      background: rgb(2,227,162);
    }
  }

  button {
    margin-left: auto;
    color: tomato;
    align-content: center;
    border: 0;
    font-weight: 500;
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }
}