@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  background-color: rgb(244,244,244);
}

.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  width: 100%;
  margin: 25px;

  @media screen and (min-width: 1280px) {
    margin: 25px auto;
    max-width: 1280px;
  }
}

#todos-container > button {
  margin-bottom: 15px;
}

input[type="text"] {
  border-radius: 4px;
  outline: none;
  color: rgb(41,41,41);
  padding: 10px 15px;
  border: 2px solid rgb(243,243,243);
  font-weight: 500;
  font-size: 12px;
  width: 100%;

  &:focus {
    border-radius: 4px;
    border: 2px solid rgb(2,227,162);
    outline: none;
    color: rgb(41,41,41);
  }
}

div > input[type="submit"], div > button, form > input[type="submit"], form > button {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  background-color: #FBE14B;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  border-radius: 100px;
  border: 0;
  cursor: pointer;
  outline: 0;
  margin-top: 15px;
}