.search-bar {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  margin: 25px 0;
  width: 100%;

  @media screen and (min-width: 920px) {
    min-width: 920px;
    width: 100%;
  }

  h2 {
    margin-right: 15px;
  }
}