#add-modal {
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background: rgba(2,2,2,.3);

  &.showing {
    z-index: 999;
    display: flex;
  }

  form {
    display: flex;
    flex-direction: column;
    text-align: center;

    input[type="submit"], button {
      margin: 5px auto 5px auto;
    }

    button {
      background-color: tomato;
    }
  }
}